In [1]:
import pandas as pd
import numpy as np

print("Meow! Kittyâ€™s lab is working perfectly ðŸ˜¸")
print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Meow! Kittyâ€™s lab is working perfectly ðŸ˜¸
Pandas version: 2.3.3
Numpy version: 2.3.4

In [2]:
import pandas as pd

# Load our sample data
df = pd.read_csv("../data/sample_responses.csv")

# Display the first few rows
df.head()

  student                                             answer
0   Alice    The mitochondria is the powerhouse of the cell.
1     Bob  ChatGPT wrote this answer about machine learni...
2   Carol  I think the lecture explained well how AI help...

In [3]:
import pandas as pd

# Load our sample data
df = pd.read_csv("../data/sample_responses.csv")

# 1ï¸âƒ£ See basic info
print("Number of responses:", len(df))
print("\nSample:")
print(df.head(), "\n")

# 2ï¸âƒ£ Measure basic features about each answer
df["word_count"] = df["answer"].apply(lambda x: len(x.split()))
df["avg_word_length"] = df["answer"].apply(lambda x: sum(len(w) for w in x.split()) / len(x.split()))
df["punctuation_count"] = df["answer"].apply(lambda x: sum(1 for ch in x if ch in ".,!?;:"))

# 3ï¸âƒ£ Display results
df[["student", "word_count", "avg_word_length", "punctuation_count"]]

Number of responses: 3

Sample:
  student                                             answer
0   Alice    The mitochondria is the powerhouse of the cell.
1     Bob  ChatGPT wrote this answer about machine learni...
2   Carol  I think the lecture explained well how AI help...

  student  word_count  avg_word_length  punctuation_count
0   Alice           8         5.000000                  1
1     Bob          11         6.090909                  1
2   Carol          12         4.916667                  1

In [4]:
# use our detector
from src.ai_detect import detect
import pandas as pd

df = pd.read_csv("../data/sample_responses.csv")

# compute scores
df["_ai_score"] = df["answer"].apply(lambda t: detect(t)["score"])

# show results sorted by score (highest first)
df_sorted = df.sort_values("_ai_score", ascending=False)
df_sorted[["student", "answer", "_ai_score"]]

ModuleNotFoundError: No module named 'src'

In [5]:
# use our detector
from src.ai_detect import detect
import pandas as pd

df = pd.read_csv("../data/sample_responses.csv")

# compute scores
df["_ai_score"] = df["answer"].apply(lambda t: detect(t)["score"])

# show results sorted by score (highest first)
df_sorted = df.sort_values("_ai_score", ascending=False)
df_sorted[["student", "answer", "_ai_score"]]

ModuleNotFoundError: No module named 'src'

In [7]:
import sys, os
sys.path.append(os.path.abspath(".."))
# use our detector
from src.ai_detect import detect
import pandas as pd

df = pd.read_csv("../data/sample_responses.csv")

# compute scores
df["_ai_score"] = df["answer"].apply(lambda t: detect(t)["score"])

# show results sorted by score (highest first)
df_sorted = df.sort_values("_ai_score", ascending=False)
df_sorted[["student", "answer", "_ai_score"]]

  student                                             answer  _ai_score
1     Bob  ChatGPT wrote this answer about machine learni...   0.411039
0   Alice    The mitochondria is the powerhouse of the cell.   0.373053
2   Carol  I think the lecture explained well how AI help...   0.326064

In [8]:
from src.ai_detect import detect
df["_ai_score"] = df["answer"].apply(lambda t: detect(t)["score"])
df.sort_values("_ai_score", ascending=False)[["student","answer","_ai_score"]]

  student                                             answer  _ai_score
1     Bob  ChatGPT wrote this answer about machine learni...   0.411039
0   Alice    The mitochondria is the powerhouse of the cell.   0.373053
2   Carol  I think the lecture explained well how AI help...   0.326064